html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: black;
}

.paddle {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: white;
    left: 50px;
}

#ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}